/*============================================
     BASE STYLES
=============================================*/
body{
  font-family: 'Noto Sans', sans-serif;
  color:#363636;
  background:white;
}
.previous-price{
  text-decoration: line-through;
  text-align: center;
  padding-right:0px;
}
#no-padding{
  padding-bottom:0;
}
#right-sidebar{
  padding-top:40px;
}
label{
  color:rgb(89, 89, 89);
  font-weight:400;
  font-size:0.8em;
}
.jumbotron{
  margin-bottom:0px;
  line-height:1;
  /*background:#F5F5F5;*/
  background:white;
}
#guest-button{
  background:rgb(192, 192, 192);
  color:rgb(108, 122, 137);
}
.list-group-item{
  border:0;
  border-top:1px solid #f1f1f1;
}
#title-p{
  border-top:1px solid rgba(0,0,0,0.3);
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top:10px;
}
#title-p-d{
  border-top:1px solid rgba(0,0,0,0.3);
  border-bottom:1px solid rgba(0,0,0,0.3);
  font-size: 0.8em;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top:10px;
  padding-bottom:10px;
}
i{
  padding-right:0px;
  color:#363636;
}
.table{
  margin-bottom:3px;
}

.h6{
  line-height:2em;
}
.row{
  margin-left:0;
  margin-right:0;
  padding-top:50px;
  padding-bottom:50px;
}

.content{
  margin:0 auto;
  width:70%;
}
.full-width{
  margin:0;
  padding:0;
}
.added{
  color:black;
  background:white;

  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.added #navbar-totals{
  color:black;
}
.form-horizontal .form-group{
  margin-left:0px;
  margin-bottom:0;
}

.custom-radio{
}
.btn-link{
  color:#c9c9c9;
}
.btn-link:hover{
  text-decoration: none;
  color:black;
}
.panel-body{
  padding-top:10px;
}

a{
  color:rgba(0,0,0,0.5);
}
a:hover{
    text-decoration: none;
  color:black;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { background-color:#f5f5f5;}
/*============================================
     NAVIGATION STYLES
=============================================*/
.navbar{
  background:white;
  font-weight:300;
  letter-spacing: 0.1em;
  font-size:1em;
  border:none;
}
.navbar-collapse{
  padding:0;
}
.navbar-default .navbar-nav > li > a {
  font-size:0.8em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color:#C2C2C2;
}
.nav > li > a {
  display:inline-block;
  color:black;
  text-align: center;
}
.nav a{
  outline:none;
}
.nav .btn-default{
  margin-top:5px;
}
.nav > li {
  display:inline-block;
  text-align: center;
}
.nav p{
  font-size:0.8em;
  margin:0;
  padding-top:18px;
  padding-right:0px;
  padding-bottom:12px;
}
#navbar-totals{
  margin-top:15px;
}

.navbar-default .navbar-nav>.open>a {
  background-color:none;
}
.navbar-default .navbar-nav>.open>a i{
  color:#e7e7e7;
}
.navbar-form{
  margin-right:0;
}
#nav-brand{
  text-align: center;
}
.navbar-brand {
  float:none;
  padding-left:0px;
}
#logo{
  padding-left:0;
}
.navbar-brand img{
  height:25px;
  width:auto;
  margin-top:-2px;
}
.navbar{
  text-align: center;
}
/*============================================
     INDEX PAGE = INTRO
=============================================*/
#intros{
  padding-bottom:0; 
}
#intro{
  position:relative;
  width:100%;
  height:450px;
  margin-top:50px;
  text-transform: uppercase;
  color:white;
  text-align: center;
  border-bottom:1px solid rgba(0,0,0,0.3);
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#intro h1{
  font-weight:900;
  font-size:4em;
  letter-spacing: 0.05em;

  padding-top:340px;
}
#intro h3{
  font-size:1em;
  letter-spacing: 0.2em;
}
#intro-info{
  margin-right:15px;
  margin-left:15px;
}
#intro-right{
  background:red;
  height:400px;
  margin-bottom:40px;
}
#intro-left{
  background:blue;
  height:400px;
}
#intro-info .fa{
  padding:10px;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
#feature{
  text-align: left;
  width:70%;
  padding-top:10px;
  padding-bottom:40px;
  border-bottom:1px solid rgba(0,0,0,0.3);
}
#feature p{
  padding-bottom:10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size:0.8em;
}
.feature-item{
  position:relative;
  padding:5px;

}
.feature-item img{
  width:100%;
  height:auto;
  margin-bottom:70px;
}
.item-detail{
  color:black;
  position:absolute;
  width:100%;
  height:60px;
  padding:0;
  bottom:10px;
  left:0;
  text-align: left;
  padding-left:5px;

  opacity:1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.item-detail h2{
  padding-top:0px;
  margin-top:0;
  font-size:1em;
}
.feature-item:hover .item-detail h2{
  color:black;
}
/*============================================
     INDEX PAGE = INTRO-INFO
=============================================*/
#intro-info{
  margin:0 auto;
  padding-top:10px;
}
#intro-text{
  margin:0 auto;
  text-align: left;
  letter-spacing: 0em;
  word-wrap:normal;
  width:100%;
}
#intro-info p{
  padding-bottom:10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size:0.8em;
}
#intro-text img{
  padding-top:50px;
  padding-bottom:50px;
  width:30%;
  height:auto;
}
#about-text{
  padding-left:0;
  border-right:1px solid rgba(0,0,0,0.3);
}
#about-text p{
  text-transform:none;
  letter-spacing: 1px;
}
#contact-text p{
  padding-bottom:0;
  margin-bottom:0;
  text-transform: none;
}
/*============================================
     FOOTER
=============================================*/
#sub-footer, #main-footer{
  color:#F5F5F5;
}

#main-footer{
  min-height:100px;
  background:#F5F5F5;
  color:black;
  padding-top:20px;
}
#main-footer .row{
  padding:0;
}
#main-footer ul a{
  line-height:1.3em;
}
.list-unstyled{
  margin-left:0;
  padding-left:0;
}
#main-footer .title{
  padding-bottom:15px;
}
#main-footer a{
  font-size:0.8em;
  color:#595959;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#main-footer a:hover{
  text-decoration: none;
  color:#1C1C1C;
}
#foot-info p{
  font-size:0.7em;  
  padding-top:50px;
  text-align: right;
  line-height:1.5;
  color:#1C1C1C;
}

/*============================================
        SHOP PAGE
=============================================*/
#shopp{
  padding-top:0;
  text-align: left;
}
#shopp h4{
  font-size:1em; 
  padding-bottom:10px;
  color:#595959;
  text-transform: uppercase;
  border-bottom:1px solid rgba(0,0,0,0.3);
}
.shop-item{
  padding:5px;
}
.shop-item img{
  width:100%;
  margin-bottom:80px;
}
.cat-list{
  padding-top:10px;
  display:block;
  text-align: right;
}
.cat-list .btn{
  margin-bottom:10px;
  margin-top:0;
  display:block;
  padding-top:10px;
  letter-spacing: 0;
}
.btn-default.active{
  background:black;
  color:white;
  border-color:black;
}
/*============================================
        CATEGORIES PAGE
=============================================*/
#dropdownMenu1{
  backround-color:white;
  border-radius:0;
}
.dropdown-menu{
  border-radius:0;
  border:none;
  box-shadow: none;
}
.btn-drop{
  background:white;
  border:1px solid rgba(0,0,0,0.1);
}
/*============================================
        PROFILE PAGE
=============================================*/
#profile-changepassword .row{
  padding-top:0px;
}
#profile-addresses h3{
  border-top:1px solid rgba(0,0,0,0.3);
  margin-left:15px;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top:10px;
}
/*============================================
        PRODUCT PAGE
=============================================*/
#product{
  padding-top:10px;
  margin:0;
}
#product-page{
  text-align: center;
}
#product h2{
  font-weight:300;
  text-transform: uppercase;
  letter-spacing:1px;
  padding-top:20px;
  padding-bottom:40px;
}
#product h3{
  font-size:1em;
}
#product img{
  width:20%;
  height:auto;
  margin-left:-4px;
}
#product-gallery{
  margin:0 auto;
  text-align: center;
}
#product-gallery .fluidbox-wrap{
  padding:0;
  display:inline-block;
  margin-left:-4px;
  width:20%;
}
#product-gallery ul{
  list-style: none;
}
#product-gallery li img{
  width:60%;
  height:auto;
  margin-bottom:10px;
  float:right;
  overflow-y:scroll;
}

#product-detail p{
  font-size:0.8em;
}
.product-options{
  display:inline-block;
  padding-right:5px;

}
.form-control{
  min-width:50px;
  box-shadow:none;
  border-radius:0px;
}

.quantity-selector input{
  width:50px;
}
/* Select Styles */
select {
  background:white;
  border:none;
  border-radius:0;
  border:1px solid #ccc;
}
.select-option{
  border-radius:0;
}
#attributes{
  text-align: left;
}

/*============================================
        ABOUT PAGE
=============================================*/
.about{
  width:100%;
  padding:0;
  margin:0;
}
.about img{
  width:100%;
  height:auto;
}
.text{
  padding:40px;
  text-align: center;
}
.image{
  padding:0;
}

#quote{
  background:#F2F1EF;
  color:#6C7A89;
  text-align:center;
  padding:35px;
}
.about h2{
  font-size:1.3em;
}
.about h4{
  font-size:1em;
  font-weight:300;
}
/*============================================
     LOGIN/SIGNUP STYLES
=============================================*/
.input-sm{
  border-radius:0px;
}
.form-group .col-sm-9{
  padding-left:0;
  padding-top:5px;
}
.form-control:focus{
  border-color:black;
  box-shadow:none;
}

/*============================================
     CART STYLES
=============================================*/
#cartt{
  padding-top:0;
}
#quantity{
  box-shadow: none;
  border-style:solid;
  border-color:rgba(0,0,0,0.3);
}
#shipping-info{
  
}
.disabled{
  pointer-events:none;
  background-color:#eee;
}
#shipping-enabled{

}
#mobile-cart{
  display: none;
}
#normal-cart{
}
#cart-items{
  padding:10px;
  font-size:0.8em;
  color:rgba(0,0,0,0.4);
}
#cartt #cart-img{
  padding-left:0;
}
#cart-img img{
  width:100%;
  height:auto;
}
#cart-actions{
  padding-top:20px;
}
#item-middle{
  padding-left:0;
}
#cart-row{
  border:none;
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  position:relative;
}

#align-middle{
  padding:0;
  padding-top:4%;
}

#cart-row input{
  width:50px;
}

#cart-row a{
  color:rgba(0,0,0,0.5);
  margin-bottom:10px;
  padding-bottom:10px;
}

#summary{
  padding-top:50px;
  border-radius:0;
}
#summary li{
  border-radius:0;
}
#summary a{
  border-radius:0;
}

#summary .btn-default{
  margin-top:5px;
}
.form-control{
  border-radius:0;
}
.form-control::-webkit-input-placeholder {
   color: #D4D4D4;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #D4D4D4;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #D4D4D4;
}

.form-control:-ms-input-placeholder {  
   color: #D4D4D4;
}

#coupon{
  padding:0;
}

.panel{
  -webkit-box-shadow:none;
  box-shadow:none;
}

.credit-card-input{
  background-image: url(../img/cards.jpg);
  background-position:2px 2px;
  background-size:45px 280px;
  background-repeat:no-repeat;
  padding-left:55px;
}
.defaultPosition{
  background-position:2px 2px;
}
.va{
  background-position:2px -40px;
}
.ma{
  background-position:2px -124px;
}
.mb{
  background-position:2px -166px;
}
.d{
  background-position:2px -208px;
}
.a{
  background-position:2px -250px;
}

.payment-card{
  margin:0 auto;
  border-radius:4px;
  border:1px solid #ccc;
  padding:50px;
  padding-bottom:50px;
}
.payment-card .row{
  padding-top:0;
  padding-bottom:0;
}
/*============================================
        CHECKOUT PROCESS
=============================================*/
#checkout-row{
  margin:0;
  padding-top:0;
}
.checkout-row{
  padding-top:0;
}
#billing-info{
  padding-bottom:0;
}
#checkout-page .h6{
  margin-top:0;
}
#next-step{
  margin-right:15px;
  margin-top:5px;
}
#checkout-summary{
  margin-right:0px;
}
/*============================================
     RECEIPT STYLES
=============================================*/
#align-middle-receipt{
  padding-top:5%;
}

/*============================================
     MINI-CART STYLES
=============================================*/
#mini-cart{
  width:300px;
  box-shadow:none;
  padding:20px;
}
#mini-cart .row{
  padding-top:5px;
  padding-bottom:5px;
}
/*============================================
     SEARCH STYLES
=============================================*/
#search-item:hover{
  cursor:pointer;
}
#search-item{
  position:relative;
}
.search-bar{
  padding-top:0px;
  width:240px;
  opacity:1;
  display:none;
  position:absolute;
  left:0;
  top:100%;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.search-bar .btn-default{
  margin-top:0px;
  border:none;
}
.search-form{
  float:left;
  width:200px;
}
.active-search{
  opacity:1;
  display:inline-block;
  pointer-events:auto;
}
#shop div{
  padding-left:0;
}

/*============================================
     CONTACT STYLES
=============================================*/
#contact-form input{
  display:block;
  margin-bottom:10px;
}
#contact-info{
  font-size:0.8em;
}
#order-history{
  padding-bottom:0;
}
#contact{
  width:100%;
  height:300px;
  margin-bottom:25px;
  margin-top:0;
}




/*============================================
        FLEXBOX
=============================================*/
.fluidbox {
  outline: none;
}
.hidden {
  display: none;
}
.fluidbox-overlay {
  background-color: rgba(255,255,255,.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index:9999;
  transition: all .25s ease-in-out;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: all .25s ease-in-out;
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top:40px;
  z-index:999999999;
  transition: all .25s ease-in-out;
  z-index:1041;
}
  .fluidbox-closed .fluidbox-ghost {
    -webkit-transition-property: top, left, opacity, -webkit-transform;
    -moz-transition-property: top, left, opacity, -moz-transform;
    -o-transition-property: top, left, opacity, -o-transform;
    transition-property: top, left, opacity, transform;
    transition-delay: 0, 0, .25s, 0;
  }
  .fluidbox-closed .fluidbox-wrap img {
    transition-property: opacity;
    transition-delay: .25s;
    transition-duration: 0s;
  }




.btn-default{
  border-radius:0px;
  border:1px solid rgba(0,0,0,0.4);
  background:none;
  color:black;
  margin-top:10px;

  font-size:1.2em;
  font-weight:400;
  letter-spacing:0.1em;
  font-size:1em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-default:hover{
  background:rgba(0,0,0,0.2);
  color:white;
  border:1px solid rgba(0,0,0,0.2);
}
.btn-important{
  border-radius:0px;
  border:1px solid rgba(0,0,0,1);
  background:black;
  color:white;
  margin-top:10px;

  font-size:1.2em;
  font-weight:400;
  letter-spacing:0.1em;
  font-size:1em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-important:hover{
  background:black;
  color:rgba(255,255,255,0.8);
  
}
#logo-mob{
  height:12px;
  width:auto;
  padding-left:10px;
  float:left;
  padding-top:12px;
  display:none;
}



/*============================================
        TABLET STYLES
=============================================*/

@media screen and (max-width: 868px) {
/*============================================
        SHOP PAGE
=============================================*/
.shop-item{
  margin-bottom:100px;
  width:50%;
  float:left;
}
.shop-item img{
  width:100%;
}
.shop-item
.item-detail{
  background:rgba(255,255,255,0.8);
  color:black;
  position:absolute;
  width:100%;
  height:100px;
  padding:0;
  top:100%;

  left:0;
  text-align: center;
  opacity:1;
}
.item-detail h2{
  padding-top:0px;
  font-size:1em;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
.feature-item{
  margin-bottom:110px;
}
#feature .item-detail{
  opacity:1;
  pointer-events:none;
  display:block;
}
#foot-info p{
  text-align: left;
}
#sub-footer .content div{
  margin-bottom:10px;
}
.search-bar{
  width:100%;
  opacity:0;
  position:relative;
  text-align: center;
  top:10px;
  margin:0 auto;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom:10px;
  margin-top:20px;
  opacity:1;
  display:block;
  pointer-events:auto;
}
#mobile-cart{
  padding-bottom:20px;
  vertical-align: top;
}
#search-item{
  display:none;
}
}


/*============================================
        MOBILE STYLES
=============================================*/
@media screen and (max-width: 480px) {

  /*============================================
     BASE STYLES
  =============================================*/
  body{
    text-align:center;
  }
  #intro-info{
    margin:0;
  }
  .row{
    padding-top:20px;
  }
  .content{
    width:95%;
    padding:10px;
  }
  /*============================================
       NAVIGATION STYLES
  =============================================*/
  .navbar{
    letter-spacing: 0em;
    font-size:1em;
    border:none;
  }
  .navbar .content{
    width:95%;
  }
  .nav > li {
    display:block;
    text-align: center;
  }
  .navbar-toggle{
    border:none;
    border-radius:0;
  }
  .navbar-toggle:hover{
    background:none;
  }
  .navbar-toggle:active{
    background:black;
    color:white;
  }
  .navbar-default .navbar-nav>.open>a {
    background-color:none;
  }
  .navbar-default .navbar-nav>.open>a i{
    color:#e7e7e7;
  }
  .navbar-form{
    margin-right:0;
    margin-left:0;
  }
  #logo{
    display:none;
  }
  #logo-mob{
    height:12px;
    width:auto;
    padding-left:10px;
    float:left;
    padding-top:12px;
    display:block;
  }
  #logo-mob img{
    height:100%;
    width:auto;
  }
  .search-bar{
    margin-top:0;
  }
  .search-form{
    float:none;
    width:200px;
  }
/*============================================
     INDEX PAGE = INTRO
=============================================*/
#intro{
  position:relative;
  width:100%;
  height:250px;
  text-transform: uppercase;
  color:white;
  text-align: center;
  margin-top:0;
}

#intro-right{
  background:red;
  height:100px;
}
#intro-left{
  background:blue;
  height:100px;
}
/*============================================
     INDEX PAGE = INTRO-INFO
=============================================*/
#intro-info{
  margin-left:10px;
}
#intro-text{
  width:95%;
}
#about-text{
  border-right:none;
  padding:7px;
  text-align: justify;
  margin:0 auto;
}
#contact-text i{
  font-size:20px;
  padding:2px;
}

/*============================================
     FOOTER
=============================================*/
#sub-footer{
  min-height:120px;
  font-size:0.8em;
  text-align:center;
  border-top:1px solid rgba(0,0,0,0.3);
  border-bottom:1px solid rgba(0,0,0,0.3);
}
#sub-footer .col-md-4{
  padding-top:10px;
}
#sub-footer i{
  font-size:1.3em;
  padding-right:10px;
}

#main-footer{
  min-height:200px;
  background:rgba(0,0,0,0.01);
  color:black;
  text-align: left;
}
#foot-info p{
  font-size:0.7em;
  padding-top:20px;
}
/*============================================
        SHOP PAGE
=============================================*/
.dropdown{
  width:100%;
}
#dropdownMenu1{
  width:100%;
}
.dropdown-menu{
  width:100%;
  box-shadow: none;
  border-radius:0;
  border:none;
}
.shop-item{
  margin-bottom:50px;
  width:50%;
  display:inline-block;
}
.shop-item img{
  width:100%;
  margin-bottom:0px;
}
.item-detail{
  background:rgba(255,255,255,0.8);
  color:black;
  position:absolute;
  width:100%;
  height:40px;
  padding:0;
  top:100%;

  left:0;
  text-align: center;
  opacity:1;
}
.item-detail h2{
  padding-top:0px;
  font-size:1em;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
.feature-item{
  width:50%;
  float:left;
  margin-bottom:40px;
}
.feature-item img{
  margin-bottom:20px;
}
#feature .item-detail{
  opacity:1;
  height:20px;
  pointer-events:none;
  display:block;
}

/*============================================
        PRODUCT PAGE
=============================================*/
#shop-product{
margin-right:0;
margin-left:0;
text-align: center;
}
#product h2{
  font-size:1.5em;
}
#product img{
  width:100%;
  height:auto;
}

#product-gallery li img{
  width:100%;
  height:auto;
  margin-bottom:10px;
  float:right;
  overflow-y:scroll;
}

.product-options{
  display:inline-block;
  padding:5px;
}

.form-control{
  min-width:50px;
  box-shadow:none;
  border-radius:0px;
  margin:0 auto;
}
#attributes{
  text-align:center;
}

.quantity-selector input{
  width:50px;
}
/* Select Styles */
select {
  background:white;
  border:none;
  border-radius:0;
  border:1px solid #ccc;
}
.select-option{
  border-radius:0;
}
/*============================================
        ABOUT PAGE
=============================================*/
.about{
  padding-top:0px;
}
.about h2{
  font-size:1.3em;
}
.about h4{
  font-size:1em;
}

/*============================================
     LOGIN/SIGNUP STYLES
=============================================*/
.input-sm{
  border-radius:0px;
}
.form-control:focus{
  border-color:black;
}

/*============================================
     CART STYLES
=============================================*/
#normal-cart{
  display: none;
}
#mobile-cart{
  display:inline;
}

#cart-content{
  display:;
}
#cart-img img{
  width:100%;
  height:auto;
}
#cart-items{
  visibility: hidden;
  height:0;
}
#cart-row{
  border:1px solid rgba(0,0,0,0.2);
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  position:relative;
}

#align-middle{
  text-align: left;
  padding-left:20px;
  padding-top:7%;
}

#cart-row input{
  width:50px;
}

#cart-row a{
  color:black;
  margin-bottom:10px;
  padding-bottom:10px;
}

#summary{
  padding-top:10px;
  border-radius:0;
}
#summary li{
  border-radius:0;
}
#summary a{
  border-radius:0;
}

#summary .btn-default{
  margin-top:5px;
}

/*============================================
     MINI-CART STYLES
=============================================*/
#mini-cart{
  width:300px;
  box-shadow:none;
  padding:20px;
}
#mini-cart .row{
  padding-top:5px;
  padding-bottom:5px;
}
/*============================================
     SEARCH STYLES
=============================================*/
#search-item:hover{
  cursor:pointer;
}

.search-bar{
  width:100%;
  opacity:0;
  position:relative;
  text-align: center;
  top:10px;
  margin:0 auto;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom:10px;
  margin-top:20px;
  opacity:1;
  display:block;
  pointer-events:auto;
}
#mobile-cart{
  padding-bottom:20px;
  vertical-align: top;
}
#search-item{
  display:none;
}
}

@media screen and (max-width: 991px) {
  #intro-left{
    display:none;
  }
  .search-form{
    display:none;
  }
/*============================================
        SHOP PAGE
=============================================*/
.shop-item{
  margin-bottom:90px;
  width:50%;
  float:left;
}
.shop-item img{
  width:100%;
}
.item-detail{
  background:rgba(255,255,255,0.8);
  color:black;
  position:absolute;
  width:100%;
  height:100px;
  padding:0;
  top:100%;

  left:0;
  text-align: center;
  opacity:1;
}
.item-detail h2{
  padding-top:0px;
  font-size:1em;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
.feature-item{
  margin-bottom:110px;
  width:50%;
  float:left;

}
#feature .item-detail{
  opacity:1;
  pointer-events:none;
  display:block;
}
#foot-info p{
  text-align: left;
}
#sub-footer .content div{
  margin-bottom:10px;
}
.search-bar{
  width:100%;
  opacity:0;
  position:relative;
  text-align: center;
  top:10px;
  margin:0 auto;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom:10px;
  margin-top:20px;
  opacity:1;
  display:block;
  pointer-events:auto;
}
#mobile-cart{
  padding-bottom:20px;
  vertical-align: top;
  display:block;
}
#search-item{
  display:none;
}
.navbar-default .navbar-toggle{
  border:none;
}
#logo-mob{
  display:block;
}
#logo{
  display:none;
}
#product img{
  width:33.33%;
}
.shop-item img{
  margin-bottom:20px;
}
#cart-items{
  display:none;
}
#cartt #cart-row{
  border: 1px solid rgba(0,0,0,0.2);
  min-height: 150px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
.form-guest-checkout{
  margin-top:20px;
}
#product-detail{
  text-align: center;
}
#product-detail  #attributes{
  text-align: center;
}
#product-detail .quantity{
  margin:0 auto;
}


}

@media screen and (max-width: 480px) {
  #intro-left{
    display:block;
  }
  #align-middle{
    text-align: center;
  }
  #align-middle .pull-left{
    float:none !important;
  }
  #align-middle p{
    padding-top:10px;
  }
  #item-middle{
    padding-right:0;
  }
  /*============================================
     BASE STYLES
  =============================================*/
  body{
    text-align:center;
    padding-top:100px;
  }
  #intro-info{
    margin:0;
  }
  .row{
    padding-top:20px;
  }
  /*============================================
       NAVIGATION STYLES
  =============================================*/
  .navbar{
    letter-spacing: 0em;
    font-size:1em;
    border:none;
    position:fixed;
    z-index:999;
    width:100%;
    top:0;
  }
  .navbar-default .navbar-nav > li > a {
    letter-spacing: 0.2em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nav > li > a {
    display:inline-block;
    color:white;
    text-align: center;
  }
  .nav a{
    outline:none;
  }
  .nav .btn-default{
    margin-top:5px;
  }
  .nav > li {
    display:block;
    text-align: center;
  }
  .nav p{
    font-size: 0.8em;
    margin: 0;
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 12px;
  }
  #navbar-totals{
    margin-top:15px;
  }

  .navbar-default .navbar-nav>.open>a {
    background-color:none;
  }
  .navbar-default .navbar-nav>.open>a i{
    color:#e7e7e7;
  }
  .navbar-form{
    margin-right:0;
    margin-left:0;
  }
  #logo{
  position:absolute;
  height:20px;
  width:20%;
  top:13px;
  left:5%;
  margin:0 auto;
  }
  #logo-mob{
  display:block;
}
  #logo-mob img{
    height:28px;
  }
  #logo img{
    height:100%;
    width:auto;
  }

/*============================================
     INDEX PAGE = INTRO
=============================================*/
#intro{
  position:relative;
  width:100%;
  height:400px;
  text-transform: uppercase;
  color:white;
  text-align: center;
}
#intro h1{
  font-weight:900;
  font-size:1.5em;

  padding-top:140px;
}
#intro h3{
  font-size:1em;
  letter-spacing: 0em;
}

/*============================================
     INDEX PAGE = INTRO-INFO
=============================================*/
#intro-info{
  margin: 0 auto;
}
#intro-text{
  width:95%;
}
#intro-text h2{
  font-size:2em;
}
#intro-text p{
  font-size:1em;
}
#intro-text img{
  padding-top:50px;
  padding-bottom:50px;
  width:80%;
}

#login-page .control-label{
  margin-left:-15px;
}
/*============================================
     FOOTER
=============================================*/
#sub-footer{
  min-height:120px;
  font-size:0.8em;
  text-align:center;
  border-top:1px solid rgba(0,0,0,0.3);
  border-bottom:1px solid rgba(0,0,0,0.3);
}
#sub-footer .col-md-4{
  padding-top:10px;
}
#sub-footer i{
  font-size:1.3em;
  padding-right:10px;
}

#main-footer{
  min-height:300px;
  background:#f5f5f5;
  color:white;
  text-align: left;
}
#main-footer .title{
  color:#333;
}
#foot-info p{
  font-size:0.7em;
  padding-top:20px;
}
/*============================================
        SHOP PAGE
=============================================*/
.shop-item{
  margin-bottom:100px;
  width:100%;
  display:block;
}
.shop-item img{
  width:100%;
}
.item-detail{
  background:rgba(255,255,255,0.8);
  color:black;
  position:absolute;
  width:100%;
  height:100px;
  padding:0;
  top:100%;

  left:0;
  text-align: center;
  opacity:1;
}
.item-detail h2{
  padding-top:0px;
  font-size:1em;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
.feature-item{
  margin-bottom:110px;
}
#feature .item-detail{
  opacity:1;
  pointer-events:none;
  display:block;
}

/*============================================
        PRODUCT PAGE
=============================================*/
#shop-product{
margin-right:0;
margin-left:0;
text-align: center;
}
#product h3{
  font-size:1.5em;
}

#product img{
  width:100%;
  height:auto;
}

#product-gallery li img{
  width:100%;
  height:auto;
  margin-bottom:10px;
  float:right;
  overflow-y:scroll;
}

.product-options{
  display:inline-block;
  padding:5px;
}

.form-control{
  min-width:50px;
  box-shadow:none;
  border-radius:0px;
  margin:0 auto;
}

.quantity-selector input{
  width:50px;
}
/* Select Styles */
select {
  background:white;
  border:none;
  border-radius:0;
  border:1px solid #ccc;
}
.select-option{
  border-radius:0;
}
/*============================================
        ABOUT PAGE
=============================================*/
.about{
  padding-top:0px;
}
.about h2{
  font-size:1.3em;
}
.about h4{
  font-size:1em;
}
/*============================================
     LOGIN/SIGNUP STYLES
=============================================*/
.input-sm{
  border-radius:0px;
}
.form-control:focus{
  border-color:black;
}

/*============================================
     CART STYLES
=============================================*/
#normal-cart{
  display: none;
}
#mobile-cart{
  display:inline;
}
#cart-content{
  display:;
}
#cart-img img{
  width:100%;
  height:auto;
}
#cart-items{
  visibility: hidden;
  height:0;
}

#cartt #cart-row{
  border:1px solid rgba(0,0,0,0.2);
  min-height:150px;
  padding:20px;
  text-align: center;
  margin-bottom:10px;
  position:relative;
}

#align-middle{
  padding:0;
  padding-top:7%;
}

#cart-row input{
  width:50px;
}

#cart-row a{
  color:black;
  margin-bottom:10px;
  padding-bottom:10px;
}

#summary{
  padding-top:10px;
  border-radius:0;
}
#summary li{
  border-radius:0;
}
#summary a{
  border-radius:0;
}

#summary .btn-default{
  margin-top:5px;
}

/*============================================
     MINI-CART STYLES
=============================================*/
#mini-cart{
  width:300px;
  box-shadow:none;
  padding:20px;
}
#mini-cart .row{
  padding-top:5px;
  padding-bottom:5px;
}
/*============================================
     SEARCH STYLES
=============================================*/
#search-item:hover{
  cursor:pointer;
}

.search-bar{
  width:100%;
  opacity:0;
  position:relative;
  text-align: center;
  top:10px;
  margin:0 auto;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom:10px;
  margin-top:20px;
  opacity:1;
  display:block;
  pointer-events:auto;
}
#mobile-cart{
  padding-bottom:20px;
  vertical-align: top;
}
#search-item{
  display:none;
}

#login_button{
  display:block;
  margin:0 auto;
}
}

/*The checkout tabs styles*/
.checkout-tab-bar{
  background: #f1f1f1;
  padding: 10px;
  display:inline-block;
  width:100%;
  margin:0;
}
.checkout-tab p{
  padding: 0;
  margin: 0;
}
.checkout-tab .subtotal{
  padding: 0;
  margin: 0;
  padding-top:10px;
  border-top:1px solid #f1f1f1;
}
.checkout-tab row{
  margin: 0;
}
.checkout-tab .status{
  color: #333;
  text-rendering: geometricPrecision;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 0;
}
.checkout-tab .goback-icon{
  color: #67966B;
}
.checkout-arrow{
  float:left;
}.checkout-arrow:hover{
  cursor:pointer;
}
#cart-row a{
  color:black;
}
#cart-row .h6{
  color:rgba(0,0,0,0.5);
}
.checkout-content{
  display: none;
  transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
.checkout-open{
  display: block;
}
#shop-checkout-payment-method{
  padding-top:20px;
}
#payment-method .custom-radio{
  margin-right:10px;
}
#cart-img img{
  width:100%;
}
#checkout-row #title-p-d{
  padding:20px 0;
  padding-left:15px;
}
#checkout-row .form-control{
  border-radius:0;
  box-shadow: none;
  -webkit-box-shadow:none;
}

#title-p-d .btn-form-mirror:hover{
  cursor:pointer;
}
#title-p-d .btn-form-mirror:focus{
  outline:none;
  color:#333;
  color: rgba(0, 0, 0, 0.498039);
  text-decoration: none;
}

#title-p-d .btn-form-mirror:visited{
  outline:none;
  color:#333;
  color: rgba(0, 0, 0, 0.498039);
  text-decoration: none;
}

#address-form, #shop-checkout-shipping-method{
  padding:30px 0 ;
}

#cart-row{
  margin:0;
  padding:0;
  min-height:110px;
}

#shop-checkout-shipping-method{
  margin:0;
}
#check-box{
  top:-2px;
}
#shipping-methods tr{
  display:inline-block;
  margin-top:20px;
  margin-right:20px;
  padding:20px;
  border:1px solid #f1f1f1;
}
#shipping-methods tr input{
  display:block;
  margin:10px auto;
}
#shipping-methods tr .narrow{
  display:block;
  text-align: center;
}
.popover{
  min-width:500px;
}

.payment-button{
  background:#5cb85c;
  border:none;
  border:0;
}

.goback-tab:hover{
  cursor:pointer;
  color:#67966B;
  text-decoration: none;
}
.goback-tab{
  color:#67966B;
  text-decoration: line-through;
}
 .goback-icon{
  color:#67966B;
 }
.payment-card .fa-question:hover{
  cursor: pointer;
}

.hide-desktop{
  display:none;
}
.show-desktop{
  display:inline-block;
}
.hide-mobile{
  display:block;
}
.show-mobile{
  display:inline-block;
}
.navbar-default .navbar-toggle:focus{
  background:white;
}
@media screen and (max-width: 991px) {
  .text-right{
    text-align: left;
  }
  .status{
    margin-top:10px;
  }
  .checkout-tab{
    margin-top:10px;
  }
  #shop-cart #cart-row {
    margin-top:10px;
    border:none;
  }
  #shop-cart #cart-row .col-sm-10{
    text-align: left;
    padding:0;
  }
  #shop-cart p{
    text-align: left;
  }
  #cart-img{
    text-align:center;
  }
  #cart-img img{
    width:80%;
    padding-bottom: 20px;
  }
  .hide-desktop{
    display:block;
  }
  .show-desktop{
    display:none;
  }
  .hide-mobile{
    display:none;
  }
  .show-mobile{
    display:block;
  }
  .checkout-tab-bar{
    margin-top:10px;
  }
}
@media screen and (max-width: 767px){
  #cart-img img{
    width:20%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .text-right{
    text-align: center;
  }
  .status{
    margin-top:10px;
  }
  .checkout-tab{
    margin-top:10px;
  }
  #shop-cart #cart-row {
    margin-top:10px;
  }
  #shop-cart #cart-row .col-sm-10{
    text-align: left;
    padding:10px 0;
  }
  #shop-cart p{
    text-align: left;
  }
  #cart-img img{
    width:40%;
    padding-bottom: 20px;
  }
  .hide-desktop{
    display:block;
  }
  .show-desktop{
    display:none;
  }
  .hide-mobile{
    display:none;
  }
  .show-mobile{
    display:inline-block;
  }

  .btn-default, .btn-important{
    width:100%;
  }
  .payment-card{
    padding:5px;
  }
  .navbar-default{
    border:1px solid #f1f1f1;
  }
}









.pagination-holder{
  position:absolute;
  bottom:0;
  padding-left:0;
}
.pagination-holder > ul{
  -webkit-padding-start:0px;
}
.pagination-holder > ul > li {
  display: inline;
}
.pagination-holder > ul > li > a,
.pagination-holder > ul > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #0c4d6c;
  background-color: #ffffff;
  border: 1px solid rgb(108, 122, 137);
  margin-left: -1px;
}
.pagination-holder > ul > li:first-child > a,
.pagination-holder > ul > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination-holder > ul > li:last-child > a,
.pagination-holder > ul > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination-holder > ul > li > a:hover,
.pagination-holder > ul > li > span:hover,
.pagination-holder > ul > li > a:focus,
.pagination-holder > ul > li > span:focus {
  color: #041c27;
  background-color: rgb(108, 122, 137);
  border-color: rgb(108, 122, 137);
}
.pagination-holder > ul > .active > a,
.pagination-holder > ul > .active > span,
.pagination-holder > ul > .active > a:hover,
.pagination-holder > ul > .active > span:hover,
.pagination-holder > ul > .active > a:focus,
.pagination-holder > ul > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: rgb(108, 122, 137);
  border-color: rgb(108, 122, 137);
  cursor: default;
}
.pagination-holder > ul > .disabled > span,
.pagination-holder > ul > .disabled > span:hover,
.pagination-holder > ul > .disabled > span:focus,
.pagination-holder > ul > .disabled > a,
.pagination-holder > ul > .disabled > a:hover,
.pagination-holder > ul > .disabled > a:focus {
  color: #999999;
  background-color: rgb(108, 122, 137);
  border-color: rgb(108, 122, 137);
  cursor: not-allowed;
}
.pagination-holder > ul > li > a {
  border-radius: 0 !important;
}

.success{
  background: #333;
  padding: 4px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;

  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode:forwards;

  animation-delay:2s;
  -moz-animation-delay:2s;
  -webkit-animation-delay:2s;
  -o-animation-delay:2s;

}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}























