/*============================================


				PUT YOUR CUSTOM CSS HERE


=============================================*/
.pagination-centered {
  margin: 0 auto;
  text-align: center;
}
.pagination-holder {
  position: relative;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: 3.15733em; }
  .rating span {
    color: #555;
    display: inline-block;
    position: relative;
    cursor: pointer; }
  .rating span:hover, .rating span:hover ~ span {
    color: transparent; }
  .rating span:hover:before, .rating span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold; }
  .rating span.select {
    color: transparent; }
  .rating span.select:before {
    content: "\2605";
    position: absolute;
    color: gold; }
  .rating p {
    font-size: 0.5em;
    margin: 0.25em 0 1.5em 0;
    color: #555; }

.btn.facebook, .btn.twitter, .btn.pinterest, .btn.googleplus {
  text-transform: uppercase; border:none;
}

.social .btn > i {
  font-size: 18px;
  color: #FFF;
}

.social .badge.counter {
  background: #FFF;
  color: #000;
  border: none;
}

.social .facebook .badge.counter {
  color: #3b5998;
}

.social .twitter .badge.counter {
  color: #55acee;
}

.social .pinterest .badge.counter {
  color: #ce2127;
}

.social .google .badge.counter {
  color: #d50f25;
}

.btn.facebook {
  background: #3b5998;
}

.btn.twitter {
  background: #55acee;
}

.btn.pinterest {
  background: #ce2127;
}

.btn.google {
  background: #d50f25;
  text-transform: uppercase; border:none;
}
#blog-detail {
  text-align: left;
}
#blog-detail p{
  font-size:1em;
}
.blog-content {
  margin-top: 56px;
}
.product-rating-container {
  font-size: 10px;
  padding-top: 10px;
}
.col-md-12.social {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}

#cross-sell-items img {
  width: 100%;
}

#cross-sell-items .item-detail {
  position: relative;
  height: auto;
  text-align: center;
}

#cross-sell-items .item-detail > h2 {
  padding-bottom: 0;
  padding-top: 0;
}

.row.content.breadcrumb-container {
  padding-top: 0;
  padding-bottom: 0;
}

/* Card Form */

.ls-card-form {
    width: 100%;
}
.card-form-expiry-outer label {
    display: inherit;
}
.card-table {
    font-size: 15px;
    background-color: #F1F1F1;
}
.card-table th {
    padding: 10px;
    color: #555;
}
.card-table a,
.card-table a:hover,
.card-table a:focus {
    text-decoration: underline;
}
.card-form-close {
    display: none;
}
.card-form-open {
    display: block;
}
.ls-card-form .submit-button,
.ls-card-form .delete-button {
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    background: black;
    color: white;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.ls-card-form .submit-button:hover,
.ls-card-form .delete-button:hover {
    background: black;
    color: rgba(255, 255, 255, 0.8);
}
.ls-card-form .card-form-input {
    background-color: #FFF;
    border: 1px solid #CCC;
    font-family: inherit;
    box-shadow: none;
    border-radius: 0;
    color: #555;
}
.ls-card-form .card-form-input:focus {
    border-color: black;
    background-color: inherit;
}
.ls-card-form .card-form-input::-webkit-input-placeholder {
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input:-moz-placeholder {
    /* Firefox 18- */
    
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input::-moz-placeholder {
    /* Firefox 19+ */
    
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input:-ms-input-placeholder {
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .error-highlight,
.ls-card-form .error-highlight:focus {
    border-color: #D34246 !important;
}

.ls-card-form .valid-highlight,
.ls-card-form .valid-highlight:focus {
    border-color: #3DE000 !important;
}

.categories_list{
    padding: 20px;
}
.categories_list li>a{
    display: block;
    padding: 5px 0;
    text-align: center;
}
.active{
    text-decoration: underline;
}
.shop-item{
    position: relative;
    display: block;
}
.shop-item a{
    width: 100%;
}
.add_cart {
    display: none;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    padding-top: 50px;
    height: 69.4%;
    width: 95.5%;
}
/*.add_cart a{*/
    /*display: block;*/
    /*width: 50%;*/
    /*margin: 20% auto;*/
    /*border-radius: 5px;*/
    /*background-color: white;*/
    /*color: black;*/
/*}*/
.preview {
    display: block;
    width: 50%;
    margin: 60% auto;
    border-radius: 5px;
    background-color: white;
    color: black;
}
#mini-cart{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shop-item:hover .add_cart {
    display: block;
}